<div class="form-create">
  <div class="title">
    {{ option?.title }}
  </div>
  <div class="subtitle" *ngIf="option?.subtitle">
    {{ option?.subtitle }}
  </div>
  <div class="content row align-items-center" *ngFor="let item of data" [hidden]="item.id !== 'name-full'">
    <div class="label">{{ item?.label }}</div>
    <div class="input-text" >
      <div [class]="item.class">
        <input type="{{ item.type }}" id="{{ item.id }}" name="{{ item.name }}" [(ngModel)]="model[item.id]" />
      </div>
    </div>
  </div>
  <div class="layout">
    <div class="content row align-items-center" *ngFor="let item of data" [hidden]="item.id === 'name-full' || item.id === 'Manual'">
      <div class="label" *ngIf="item.type !== 'img' && item.type !== 'button'">{{ item?.label }}</div>
      <div class="input-text" [class]="item.class">
        <div *ngIf="
              item.type === 'text' ||
              item.type === 'number' ||
              item.type === 'date' ||
              item.type === 'file'
            ">
          <input type="{{ item.type }}" id="{{ item.id }}" name="{{ item.name }}" [(ngModel)]="model[item.id]" />
        </div>
        <div *ngIf="item.type === 'select'">
          <select [(ngModel)]="model[item.id]" (change)="handleCallbackOption($event.target.value, item.id)">
            <option *ngFor="let i of item.data" [ngValue]="i.id">
              {{ i.value || 1 }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="content row align-items-center" *ngFor="let item of data" [hidden]="item.id !== 'Manual'">
    <div class="label">{{ item?.label }}</div>
    <div class="input-text" >
      <div [class]="item.class">
        <input style="height: 150px; width: 98%;" type="{{ item.type }}" id="{{ item.id }}" name="{{ item.name }}" [(ngModel)]="model[item.id]" />
      </div>
    </div>
  </div>
  <div class="upload-img">

    <div class="content row align-items-center" [hidden]="item.type !== 'img'" *ngFor="let item of data">
      <div class="label">{{ item?.label }}</div>
      <!-- <div class="input-text" [class]="item.class">
        <div class="img" *ngIf="item.type === 'img'">
          <div class="label-upload-img">
            <label class="" for="{{ item.id }}">
              <mat-icon class="add-photo">add_a_photo</mat-icon>
            </label>
            <img [src]="model.MediaURL" height="200" *ngIf="item.name === 'avatar' && model.MediaURL" />
            <img [src]="model.BackgroundURL" height="200" *ngIf="item.name === 'background' && model.BackgroundURL" />
          </div>
          <input id="{{ item.id }}" #file hidden type="file" accept="image/*"
            (change)="preview(file.files, item.name)" />
        </div>
      </div> -->
      <div class="input-text">
        <div class="img">
          <div class="label-upload-img">
            <label class="" for="img-{{item.id}}" *ngIf="item.name === 'avatar'">
              <img [src]="model.MediaURL" height="200"  *ngIf="model.MediaURL"/>
              <svg *ngIf="!model.MediaURL"
                xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31">
                <line id="Line_8934" data-name="Line 8934" x2="29" transform="translate(1 15.5)" fill="none" stroke="#1894ff" stroke-linecap="round" stroke-width="2"/>
                <line id="Line_8935" data-name="Line 8935" x2="29" transform="translate(15.5 1) rotate(90)" fill="none" stroke="#1894ff" stroke-linecap="round" stroke-width="2"/>
              </svg>
              <!-- <mat-icon class="add-photo">add_a_photo</mat-icon> -->
            </label>
            <label class="" for="img-{{item.id}}" *ngIf="item.name === 'background'">
              <img [src]="model.BackgroundURL" height="200" *ngIf=" model.BackgroundURL" />
              <svg *ngIf="!model.BackgroundURL"
                xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31">
                <line id="Line_8934" data-name="Line 8934" x2="29" transform="translate(1 15.5)" fill="none" stroke="#1894ff" stroke-linecap="round" stroke-width="2"/>
                <line id="Line_8935" data-name="Line 8935" x2="29" transform="translate(15.5 1) rotate(90)" fill="none" stroke="#1894ff" stroke-linecap="round" stroke-width="2"/>
              </svg>
              <!-- <mat-icon class="add-photo">add_a_photo</mat-icon> -->
            </label>
          </div>
          <input id="img-{{item.id}}" #file1 accept="image/*" class="{{ item.id }}"
          (change)="preview(file1.files, item.name)" hidden type="file" accept="image/*"/>
          <!-- (change)="preview(file.files, item.name)" /> -->
        </div>
      </div>
    </div>
  </div>
  <div class="subtitle add-new" *ngIf="option?.showAddCer">
    <div class="content row align-items-center" [hidden]="item.type !== 'button'" *ngFor="let item of data">
      <div class="label">{{ item?.label }}</div>
    </div>
    <button class="btn-add-new" (click)="addCer()">Thêm mới</button>
  </div>
  <div class="layout" *ngIf="option?.showCer">
    <div class="cer">
      <div>
        <label class="radio">
          <input type="radio" name="answer" (change)="type = 0"  [checked]="type === 0"/>
          Tải lên từ máy
        </label>
      </div>

      <div class="cer-cell content row align-items-center">
        <div >
          <ul>
            <li *ngFor="let item of fileLinkList">
              <a href="item">{{item}}</a></li>
          </ul>
        </div>
        <div>
          <div class="img">
            <div class="label-upload-img">
              <label class="" for="mutil">
                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31">
                  <g id="Group_21176" data-name="Group 21176" transform="translate(-1289.814 -578.814)">
                    <g id="Rectangle_2451" data-name="Rectangle 2451" transform="translate(1289.814 578.814)" fill="#fff"
                      stroke="#1894ff" stroke-width="1">
                      <rect width="31" height="31" rx="5" stroke="none" />
                      <rect x="0.5" y="0.5" width="30" height="30" rx="4.5" fill="none" />
                    </g>
                    <line id="Line_8935" data-name="Line 8935" x2="12.023" transform="translate(1299.616 594.314)"
                      fill="none" stroke="#1894ff" stroke-linecap="round" stroke-width="2" />
                    <line id="Line_8936" data-name="Line 8936" x2="12.023"
                      transform="translate(1305.314 588.616) rotate(90)" fill="none" stroke="#1894ff" stroke-linecap="round"
                      stroke-width="2" />
                  </g>
                </svg>
              </label>
            </div>
            <input id="mutil" #file hidden type="file" accept="image/*" (change)="addUrl(file.files)" multiple/>
          </div>
          <!-- <button>


          </button> -->
        </div>
      </div>

    </div>
    <div class="cer">
      <div>
        <label class="radio">
          <input type="radio" name="answer" (change)="type = 1"   [checked]="type === 1"/>
          Đường link
        </label>
      </div>

      <div class="content row align-items-center" >
        <div class="input-text" placeholder="Nhập URL">
          <div >
            <input type="text" [(ngModel)]="imgInput"/>
          </div>
        </div>
      </div>

    </div>

  </div>
  <ng-container *ngIf="model.CompanyCertifications && model.CompanyCertifications.length !== 0">
    <div class="certification" *ngFor="let certifi of model.CompanyCertifications">
      <ng-container *ngFor="let item of data">
        <ng-container *ngFor="let certi of item.child">
          <div class="cer-cell">
            {{certi.label}}
          </div>
          <div class="cer-cell" *ngIf="certi.id !== 'CertificationMedias'">
            {{certifi[certi.id]}}
          </div>
          <div class="cer-cell" *ngIf="certi.id === 'CertificationMedias'">
            <ul *ngFor="let img of certifi.CertificationMedias">
              <li>
                <a href="{{img.MediaURL}}" target="_blank">{{img.str}}</a>
              </li>
            </ul>

          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <div class="group-btn">
    <button *ngFor="let i of arrayButton; let index = index" class="btn mbf-btn" [class]="i.class"
      (click)="onClickButton(i)">
      {{ i?.text }}
    </button>
  </div>
</div>
