<p class="title">
  Thông tin tài khoản
</p>
<div class="row-grid">
  <div class="col">
    <div class="add-img">
      <img  alt="">
      <div class="circle">
        <label for="img">
          <img src="assets/svg/camera.png" alt="">
          <input hidden id="img" type="file">
        </label>

      </div>

    </div>
  </div>
  <div class="col">
    <div class="form-infor">
      <form class="row1">
        <label >
          Họ (<span>*</span>)<br>
          <input type="text" name="fn" [(ngModel)]="userProfile.FirstName">
        </label>
        <label >
          Tên (<span>*</span>)<br>
          <input type="text" name="ln"  [(ngModel)]="userProfile.LastName">
        </label>
        <label >
          Điện thoại đăng nhập (<span>*</span>) <br>
          <input type="text" [(ngModel)]="userProfile.Phone">
        </label>
        <label >
          Email <br>
          <input type="text" [(ngModel)]="userProfile.Email">
        </label>
      </form>
      <div class="action">
        <app-base-button [titleButton]="'Lưu'" [dataButton]="{cssClass: 'save-button'}"></app-base-button>
        <app-base-button [titleButton]="'Hủy bỏ'" [dataButton]="{cssClass: 'cancel-button'}"></app-base-button>
      </div>

    </div>
  </div>
</div>
